services:
  db23:
    image: container-registry.oracle.com/database/free:23.26.0.0
    environment:
      - ORACLE_PDB=${ORACLE_PDB}
      - ORACLE_PWD=${ORACLE_PWD}
    volumes:
      - db_23:/opt/oracle/oradata/      # Volume used to persist database data
      # - ords_wls_demo:/opt/oracle/oradata/  
    ports:
      - "1521:1521"
    networks:
      - appnet

  ords-node: # Note on this section, you can comment this out after you've successfully run ORDS
             # in Standalone mode for that first time. You only need to do this to have 
             # a complete ords_config directory; which is required for Weblogic. HOWEVER...
             # ...you will need to:
             #
             #      podman exec -it [ords container name] /bin/bash
             #
             # into the container to modify the security.verifySSL configuration setting to false.
             # Use the following command:
             #
             #      ords config set security.verifySSL false 
             #
             # You will need to do something similar in Weblogic too, otherwise requests to ORDS will be
             # blocked (due to an http/https conflict).
    image: container-registry.oracle.com/database/ords:latest
    # platform: linux/arm64
    environment:
      # - JAVA_TOOL_OPTIONS=-javaagent:./opentelemetry-javaagent.jar'
      # - OTEL_SERVICE_NAME=ords
      # - OTEL_METRICS_EXPORTER=none
      # - OTEL_TRACES_EXPORTER=otlp
      # - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector-host:4317

      - DBSERVICENAME=${ORACLE_PDB}
      - DBHOST=db23
      - DBPORT=${DBPORT}
      - ORDS_PUBLIC_USER_PWD=${ORACLE_PWD}
      # - ORACLE_USER_NAME=ORDS_NON_SYS
      # - ORACLE_USER_PWD=Password12345
      - ORACLE_PWD=${ORACLE_PWD}
      # - APEX_PWD=${ORACLE_PWD}
      # - JDK_JAVA_OPTIONS=-Xlog:all=error:stdout

    volumes:
      - ords_config:/etc/ords/config # Only use with db23 volume
    ports:
      - "8080:8080"
      # - "9010:9010"    # JMX port
      # - "9011:9011"    # JMX port
    # ...rest of your config...

    healthcheck:
      test: curl --noproxy "localhost" -f -k http://localhost:8080/ords/ || exit 1
      interval: 30s
      timeout: 10s
      retries: 150
    depends_on:     # I don't even think this section works as expected in Podman, like it does in Docker. 
                    # But, we've made significant updates to the ORDS entrypoint.sh file such
                    # that it is more intelligent (??) about how if seeks to verify if the target
                    # database is in a "ready" state.
      db23:
        condition: service_healthy 
    networks:
      - appnet

  # wls:
  #   image: container-registry.oracle.com/middleware/weblogic:14.1.2.0-generic-jdk21-ol9 

  #   platform: linux/amd64 # I have noticed that even though I am pointing to the correct architecure (above), the container will still fail.
  #                         # It is only if I explicitly add in this platform parameter will the container successfully start.
  #   hostname: wls
  #   environment:
  #     - PRODUCTION_MODE=dev # I do not believe this is necessary, since dev is the default. I leave it intact anyways.

  #     # Here are the complete, modifiable parameters (as indicated in the WLS GitHub repo):
  #     # 
  #     # `ADMIN_NAME`                  (default: `AdminServer`)
  #     # `ADMIN_LISTEN_PORT`           (default: `7001`)
  #     # `DOMAIN_NAME`                 (default: `base_domain`)
  #     # 'PRODUCTION_MODE              (default: `dev`)
  #     # `ADMINISTRATION_PORT_ENABLED` (default: `false`)
  #     # `ADMINISTRATION_PORT`         (default: `9002`)

  #   entrypoint: ["/u01/oracle/wls-wait.sh", "/u01/oracle/createAndStartEmptyDomain.sh"] 
  #   volumes:
  #     - ./weblogic:/u01/oracle/properties                 # A local directory used for persisting/storing the domain.properties file.

  #     - ./scripts/wls-wait.sh:/u01/oracle/wls-wait.sh:ro  # A script that checks for database readiness.
  #                                                         # I haven't tested without this script; it
  #                                                         # may not even be necessary.

  #     - wls:/u01/oracle/user_projects/domains             # Volume is used to persist the ords.war file. After
  #                                                         # uploading to the Remote Web Console, that ords.war file 
  #                                                         # is located at: 
  #                                                         #
  #                                                         #     
  #                                                         #
  #                                                         # I've noticed, on subsequent deployments, that if you omit this volume, but keep 
  #                                                         # the ords_config volume, the WLS Server will fail. The container will end up in an "unhealthy" state.
  #                                                         # I am unsure what is persisting though, since keeping the ords_war volume shouldn't 
  #                                                         # impact anything else (thus allowing the WLS Server to start). 

  #   ports:
  #     - "7001:7001"
  #     - "9002:9002"
  #   networks:
  #     - appnet
  #   healthcheck:
  #     test: |
  #       bash -c 'curl --fail --silent http://localhost:7001/console || exit 1'
  #     interval: 30s
  #     timeout: 10s
  #     retries: 20

volumes:
  db_23:         # Oracle DB data persistence

  ords_config:   # This volume is used to persist ORDS' configuration directory. This volume can 
                 # be shared among the "ORDS on WLS" and "ORDS Standalone" deployments since 
                 # its exactly the same. For WLS, we mount it inside the WLS container at:
                 #
                 #        /u01/oracle/user_projects/ords_config 
                 #
                 # then that path is the one that we name when recreating
                 # the ords.war file (you can inspect the weblogic.xml file to see this context-path parameter).

  # wls:           # This volume is used to persist the Weblogic domain. 
  #                # Also, if after adding the ords.war file and this isn't mounted, 
  #                # the WLS deployment will fail. 

  # localdev:      # Used for local development; with ORDS on localhost.
  # ords_wls_demo:

networks:
  appnet:
    driver: bridge