services:
  db23:
    image: container-registry.oracle.com/database/free:23.26.0.0
    environment:
      - ORACLE_PDB=${ORACLE_PDB}
      - ORACLE_PWD=${ORACLE_PWD}
   
    # volumes:

    ports:
      - "1521:1521"
    networks:
      - appnet
    
# volumes:

networks:
  appnet:
    driver: bridge